.CalendarWeek {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  background-color: light-dark(var(--mantine-color-gray-2), var(--mantine-color-gray-8));
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
}
